@import "../node_modules/normalize.css/normalize.css";
.lotus-wrap {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #4a4a4a;
  padding: 13px;
  /* Pre and Code */
  /* Tables */
  /* Buttons, forms and input */
}
@media (max-width: 684px) {
  .lotus-wrap {
    font-size: 0.85rem;
  }
}
@media (max-width: 382px) {
  .lotus-wrap {
    font-size: 0.75rem;
  }
}
.lotus-wrap.content {
  max-width: 1023px;
}
.lotus-wrap.content.small-size {
  max-width: 768px;
}
.lotus-wrap.content.large-size {
  max-width: 1215px;
}
.lotus-wrap.content.xlarge-size {
  max-width: 1407px;
}
.lotus-wrap.content.xxlarge-size {
  max-width: 100%;
}
.lotus-wrap.mx-auto {
  margin: 0 auto;
}
.lotus-wrap h1,
.lotus-wrap h2,
.lotus-wrap h3,
.lotus-wrap h4,
.lotus-wrap h5,
.lotus-wrap h6 {
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}
.lotus-wrap h1 {
  font-size: 2.35em;
}
.lotus-wrap h2 {
  font-size: 2em;
}
.lotus-wrap h3 {
  font-size: 1.75em;
}
.lotus-wrap h4 {
  font-size: 1.5em;
}
.lotus-wrap h5 {
  font-size: 1.25em;
}
.lotus-wrap h6 {
  font-size: 1em;
}
.lotus-wrap p {
  margin-top: 0px;
  margin-bottom: 2.5rem;
}
.lotus-wrap small,
.lotus-wrap sub,
.lotus-wrap sup {
  font-size: 75%;
}
.lotus-wrap hr {
  border-color: #1d7484;
}
.lotus-wrap a {
  text-decoration: none;
  color: #1d7484;
}
.lotus-wrap a:visited {
  color: rgb(38.1863354037, 152.7453416149, 173.8136645963);
}
.lotus-wrap a:hover {
  color: #982c61;
  border-bottom: 2px solid #4a4a4a;
}
.lotus-wrap ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}
.lotus-wrap li {
  margin-bottom: 0.4em;
}
.lotus-wrap blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid #1d7484;
  margin-bottom: 2.5rem;
  background-color: #f1f1f1;
}
.lotus-wrap blockquote p {
  margin-bottom: 0;
}
.lotus-wrap img,
.lotus-wrap video {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}
.lotus-wrap pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-size: 0.9em;
}
.lotus-wrap code,
.lotus-wrap kbd,
.lotus-wrap samp {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}
.lotus-wrap pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}
.lotus-wrap table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}
.lotus-wrap td,
.lotus-wrap th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}
.lotus-wrap input,
.lotus-wrap textarea {
  border: 1px solid #4a4a4a;
}
.lotus-wrap input:focus,
.lotus-wrap textarea:focus {
  border: 1px solid #1d7484;
}
.lotus-wrap textarea {
  width: 100%;
}
.lotus-wrap .button,
.lotus-wrap button,
.lotus-wrap input[type=submit],
.lotus-wrap input[type=reset],
.lotus-wrap input[type=button],
.lotus-wrap input[type=file]::file-selector-button {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #1d7484;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #1d7484;
  cursor: pointer;
  box-sizing: border-box;
}
.lotus-wrap .button[disabled],
.lotus-wrap button[disabled],
.lotus-wrap input[type=submit][disabled],
.lotus-wrap input[type=reset][disabled],
.lotus-wrap input[type=button][disabled],
.lotus-wrap input[type=file]::file-selector-button[disabled] {
  cursor: default;
  opacity: 0.5;
}
.lotus-wrap .button:hover,
.lotus-wrap button:hover,
.lotus-wrap input[type=submit]:hover,
.lotus-wrap input[type=reset]:hover,
.lotus-wrap input[type=button]:hover,
.lotus-wrap input[type=file]::file-selector-button:hover {
  background-color: #982c61;
  color: #f9f9f9;
  outline: 0;
}
.lotus-wrap .button:focus-visible,
.lotus-wrap button:focus-visible,
.lotus-wrap input[type=submit]:focus-visible,
.lotus-wrap input[type=reset]:focus-visible,
.lotus-wrap input[type=button]:focus-visible,
.lotus-wrap input[type=file]::file-selector-button:focus-visible {
  outline-style: solid;
  outline-width: 2px;
}
.lotus-wrap textarea,
.lotus-wrap select,
.lotus-wrap input {
  color: #4a4a4a;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
.lotus-wrap textarea:focus,
.lotus-wrap select:focus,
.lotus-wrap input:focus {
  border: 1px solid #1d7484;
  outline: 0;
}
.lotus-wrap input[type=checkbox]:focus {
  outline: 1px dotted #1d7484;
}
.lotus-wrap label,
.lotus-wrap legend,
.lotus-wrap fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
