@use "sass:color";

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

.lotus-wrap {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $color-text;
    padding: 13px;

    @media (max-width: 684px) {
        font-size: $font-size-base * 0.85;
    }

    @media (max-width: 382px) {
        font-size: $font-size-base * 0.75;
    }

    &.content {
        max-width: 1023px;

        &.small-size {
            max-width: 768px;
        }

        &.large-size {
            max-width: 1215px;
        }

        &.xlarge-size {
            max-width: 1407px;
        }

        &.xxlarge-size {
            max-width: 100%;
        }
    }

    &.mx-auto {
        margin: 0 auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        font-family: $font-family-heading;
        font-weight: 700;
        margin: 1rem 0;
        @include word-wrap;
    }

    h1 {
        font-size: 2.35em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.75em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.25em;
    }

    h6 {
        font-size: 1em;
    }

    p {
        margin-top: 0px;
        margin-bottom: 1rem;
    }

    small,
    sub,
    sup {
        font-size: 75%;
    }

    hr {
        border-color: $color-blossom;
    }

    a {
        text-decoration: none;
        color: $color-blossom;

        &:visited {
            color: color.adjust($color-blossom, $lightness: 10%);
        }

        &:hover {
            color: $color-fade;
            border-bottom: 2px solid $color-text;
        }
    }

    ul {
        padding-left: 1.4em;
        margin: 0;
    }

    li {
        margin-bottom: 0.4em;
    }

    blockquote {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 1em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        padding-right: 0.8em;
        border-left: 5px solid $color-blossom;
        margin-bottom: 2.5rem;
        background-color: $color-bg-alt;
    }

    blockquote p {
        margin-bottom: 0;
    }

    img,
    video {
        height: auto;
        max-width: 100%;
        margin-top: 0px;
        margin-bottom: 2.5rem;
    }

    /* Pre and Code */

    pre {
        background-color: $color-bg-alt;
        display: block;
        padding: 1em;
        overflow-x: auto;
        margin-top: 0px;
        margin-bottom: 2.5rem;
        font-size: 0.9em;
    }

    code,
    kbd,
    samp {
        font-size: 0.9em;
        padding: 0 0.5em;
        background-color: $color-bg-alt;
        white-space: pre-wrap;
    }

    pre > code {
        padding: 0;
        background-color: transparent;
        white-space: pre;
        font-size: 1em;
    }

    /* Tables */

    table {
        text-align: justify;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 2rem;
        background-color: #fff;
        border-radius: .3rem;

        thead, tfoot {
            background-color: rgba(230,230,230, 0.3);
        }

        td,
        th {
            padding: .8rem .5em;
            border-bottom: 1px solid $color-bg-alt;
        }

        caption {
            padding: .5rem 0;
        }
    }

    /* Buttons, forms and input */

    textarea {
        width: 100%;
    }

    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    input[type="file"]::file-selector-button {
        display: inline-block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;

        background-color: $color-blossom;
        color: $color-bg;
        border-radius: 0.3rem;
        border: none;
        cursor: pointer;
        box-sizing: border-box;

        &[disabled] {
            cursor: default;
            opacity: 0.5;
        }

        &:hover {
            background-color: $color-fade;
            color: $color-bg;
            outline: 0;
        }

        &:focus-visible {
            outline-style: solid;
            outline-width: 2px;
        }

        &.full-width {
            width: 100%;
        }
    }

    textarea,
    select,
    input {
        color: rgb(17, 24, 39);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid rgb(229, 231, 235);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 0.3rem;
        box-shadow: none;
        box-sizing: border-box;

        &:focus {
            border: 1px solid $color-blossom;
            outline: 0;
        }

        &.full-width {
            width: 100%;
        }
    }

    input[type="checkbox"]:focus {
        outline: 1px dotted $color-blossom;
    }

    label,
    legend,
    fieldset {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 600;
    }

    fieldset {
        border: 1px solid rgb(229, 231, 235);
        padding: 1rem;
        margin: 1rem;

        legend {
            color: #a4a1a1;
        }
    }
}
